# Cosas a limpiar
- **Conversion** -> Cambiar a str?
- **Product Category** -> Cambiar a minus. Cambiar FASHHION A Fashion
- **Product id** -> Cambiar a numerica?
- **Product name** -> Cambiar espacios por '_'
- **Price** -> Tiene 40 nulos (2 %). Cambiar ',' por '.' y cambiar a tipo float
- **Discount** -> Tiene 40 nulos (2 %). Cambiar ',' por '.' y cambiar a tipo float
- **Total Value** -> Cambiar ',' por '.' y cambiar a tipo float
- **Payment Method** -> Tiene 1753 (87.65 %) nulos
- **Shipping Method** -> Tiene 1753 (87.65 %) nulos
- **Customer Age** -> Tiene 40 nulos
- **Device** -> Cambiar a minus
- **Cupon used** -> Tiene 1753 nulos
- **Browser** -> Cambiar las categorias porque estan mal escritas
- **Referral Source** -> Cambiar a minus

En el excel de Espa√±a, los decimales vienen delimitados por ,. Sin embargo, python reconoce los decimales con .

In [7]:
import pandas as pd
pd.set_option('Display.max_columns',None)

In [8]:
df_raw=pd.read_csv("../Data/data_raw.csv")
df_raw.sample(5)

,User Id,Group,Visit Date,Conversion,Product Category,Product Id,Product Name,Quantity,Price,Discount,Total Value,Payment Method,Shipping Method,Region,Customer Age,Customer Gender,Device,Session Duration,Coupon Used,Browser,Referral Source
555,556,A,2022-02-01,0,FASHHION,P1275,Jeans,0,"161,44","0,2","0,0",NaN,NaN,East,68.0,F,TABLET,27,NaN,Firefoxxxxxx,Social
1141,1142,A,2022-01-06,0,TOYS,P1904,Board Game,0,"44,07","0,03","0,0",NaN,NaN,East,63.0,M,Desktop,11,NaN,Firefoxxxxxx,Organic
1251,1252,A,2022-01-24,0,HOME,P1707,Lamp,0,"270,45","0,07","0,0",NaN,NaN,North,69.0,M,Mobile,14,NaN,Safaaaaari,Email
1015,1016,B,2022-02-24,0,SPORTS,P1361,Gym Bag,0,"99,33","0,01","0,0",NaN,NaN,East,40.0,F,Desktop,10,NaN,Ottttther,Social
560,561,B,2022-02-03,0,BEAUTY,P1177,Perfume,0,"79,84","0,0","0,0",NaN,NaN,South,41.0,M,Mobile,26,NaN,Chrooome,Email

In [4]:
df=df_raw.copy()

In [ ]:
df.columns=df.columns.str.replace(' ','_').str.lower()
df.columns

### visit_date a fecha

In [6]:
df['visit_date']=pd.to_datetime(df['visit_date'],format='%Y-%m-%d')

### Conversion a string

In [ ]:
df['conversion_str']=df['conversion'].apply(lambda x: 'yes' if x==1 else 'no')