In [1]:
import pandas as pd
pd.set_option('Display.max_columns',None)
#Exploraci√≥n de archivos
import sys 
sys.path.append('../')
#Funciones personalizadas
from src import sp_limpieza as sl

In [2]:
df_raw=pd.read_csv("../Data/data_raw.csv")
df_raw.sample(5)

,User Id,Group,Visit Date,Conversion,Product Category,Product Id,Product Name,Quantity,Price,Discount,Total Value,Payment Method,Shipping Method,Region,Customer Age,Customer Gender,Device,Session Duration,Coupon Used,Browser,Referral Source
98,99,A,2022-03-05,0,ELECTRONICS,P1329,Smartphone,0,"563,38","0,12","0,0",NaN,NaN,Central,56.0,M,TABLET,15,NaN,Ottttther,Email
938,939,A,2022-01-16,0,FASHHION,P1970,Dress,0,"57,22","0,17","0,0",NaN,NaN,Central,50.0,F,Mobile,18,NaN,Chrooome,Social
1830,1831,B,2022-02-26,0,TOYS,P1662,Action Figure,0,"61,4","0,12","0,0",NaN,NaN,East,31.0,M,Desktop,24,NaN,Safaaaaari,Email
496,497,B,2022-03-15,0,HOME,P1314,Table,0,"495,28","0,25","0,0",NaN,NaN,South,64.0,M,TABLET,2,NaN,Chrooome,PAID
1022,1023,B,2022-02-12,0,BEAUTY,P1736,Mascara,0,"17,31","0,21","0,0",NaN,NaN,West,68.0,M,TABLET,21,NaN,Chrooome,Organic

In [3]:
df=df_raw.copy()

In [4]:
df.columns=df.columns.str.replace(' ','_').str.lower()
df.columns

Index(['user_id', 'group', 'visit_date', 'conversion', 'product_category',
       'product_id', 'product_name', 'quantity', 'price', 'discount',
       'total_value', 'payment_method', 'shipping_method', 'region',
       'customer_age', 'customer_gender', 'device', 'session_duration',
       'coupon_used', 'browser', 'referral_source'],
      dtype='object')

### visit_date a fecha

In [5]:
df['visit_date']=pd.to_datetime(df['visit_date'],format='%Y-%m-%d')

### Conversion a string

In [6]:
df['conversion_str']=df['conversion'].apply(lambda x: 'yes' if x==1 else 'no')

In [7]:
df.loc[:,['conversion','conversion_str']].sample(5)

      conversion conversion_str
904            0             no
581            0             no
1996           0             no
1356           0             no
1883           0             no

### **Product Category** -> Cambiar FASHHION A Fashion

In [8]:
df['product_category']=df['product_category'].str.replace('fashhion','fashion')

### **Product id** -> Cambiar a numerica?

In [9]:
df['product_id']=df['product_id'].str.replace('P','')

In [10]:
df['product_id']=df['product_id'].astype('Int64')

In [11]:
sl.minus(df)

In [12]:
sl.comas(df)

In [13]:
sl.espacios(df)

### map de browser

In [14]:
df['browser'].unique()

array(['safaaaaari', 'ottttther', 'firefoxxxxxx', 'eddddge', 'chrooome'],
      dtype=object)

In [15]:
dic_map={'safaaaaari': 'safari',
         'ottttther':'other',
         'firefoxxxxxx':'firefox',
        'eddddge': 'edge',
         'chrooome': 'chrome' }

In [16]:
df['browser']=df['browser'].map(dic_map)

In [17]:
df.to_csv('../Data/data_limpios.csv',index=False)